/************************/
/*    Index login       */
/************************/

body{
    background: url('../images/background.jpg') repeat top;
}

#cadre_login_info{
    background-color: #ffffff;
    width: 600px;
    height: 400px;
    margin: 50px auto;
    text-align: center;
}

#login_info {
    width: 250px;
    margin: 0 auto;
    padding: 10px;
    background-color: #EEE;
    text-align: left;
}

#cadre_login_info h1{
    padding-top: 20px;
    padding-left: 40px;
    margin-bottom: 20px;
}

#group_username{
    padding-top: 20px;
}

#img_user {
    width: 25px;
    margin-bottom: -6px;
}

#img_pwd{
    width: 18px;
    margin-bottom: -2px;
    margin-left: 3px;
}

#password{
    margin-left: 3px;
}
/*#img_user {
    width: 25px;
    padding-top: 10px;
    margin-bottom: -6px;
}

#img_pwd {
    width: 18px;
    margin-bottom: -2px;
    margin-right: 4px;
}

#password {
    margin-top: 10px;
    margin-left: 2px;
}*/
