#ul_service{
    display: none;
}

.breadcrumb > li + li::before{
    content: "/ ";
}

.menu ul li:last-child a {
    border-bottom: 1px solid #33373d;
}

.menu > li > a:hover, .menu > li > a.active {
    background-color: #009F8B;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 159, 139)), to(rgb(0, 159, 139)));
    background-image: -webkit-linear-gradient(top, rgb(0, 159, 139), rgb(0, 159, 139));
    background-image: -moz-linear-gradient(top, rgb(0, 159, 139), rgb(0, 159, 139));
    background-image: -o-linear-gradient(top, rgb(0, 159, 139), rgb(0, 159, 139));
    background-image: -ms-linear-gradient(top, rgb(0, 159, 139), rgb(0, 159, 139));
    background-image: linear-gradient(top, rgb(0, 159, 139), rgb(0, 159, 139));
}

.menu > li > a.active {
    border-bottom: 1px solid #1a638f;
}

.menu > li > a:before {
    content: '';

    font-size: 36px;
    height: 1em;
    width: 1em;
    position: absolute;
    left: 0;
    top: 50%;
    margin: -.5em 0 0 0;
}

.logo{
    width: 75px;
    height: 40px;
}

form input[type="text"], textarea.form-control{
    width: 50%;
}

form input[type="checkbox"], input[type="radio"]{
    display: inline-block;
    margin: 4px 20px 0;
}

select, form input{
    display: block;
}

form button{
    background-color: #009f8b;
    color: #FFFFFF;
    display: inline-block;
    padding: 5px 10px;
    margin: 10px;
    transition: background-color 0.15s linear;
}

form button.active{
    background-color: #008675 !important;
    box-shadow: none !important;
    outline: 0px !important;
    text-decoration: none;
}