/*************************/
/*    Commun             */
/*************************/

body {
    background: url("../img/background-wellness.jpg") no-repeat fixed left top / cover;
    margin-top: 0px;
}

.page-wrapper {
    background-color: transparent;
}

/*************************/
/*    Header             */
/*************************/

.header-transparent .container {
    background-color: rgba(0, 0, 0, 0.4);
}

.header-wrapper {
    margin-bottom: 20px;
}

/*************************/
/*    Slider             */
/*************************/

#carousel-slider .item-bg{
    height: 50px;
}
#carousel-slider .item img{
    margin:auto;
    height: 300px;
}
#carousel-slider .carousel-caption{
    height: 60px;
}

#carousel-provider img{
    margin: 0 auto;
}

/************************/
/* Category service     */
/************************/

#serviceSection a{
    color: #000000;
}

#menufrontend h1{
    margin-top: 23px;
    margin-bottom: 5px;
}

.submit-zoom{
    background: url("../img/zoom_btn.png") no-repeat fixed left top / cover;
}

#input .search{
    width: 80%;
    display: inline;
}


/*************************/
/*    Pave               */
/*************************/

#maincontainer{
    padding: 30px 20px 0px 35px;
    margin-bottom: 20px;
    border-left: 1px solid;
}

#mainrow{
    margin-top: 30px;
    margin-bottom: 10px;
}

.container{
    margin-bottom: 30px;
}

.col-provider h1, .col-service h1{
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.05);
    height: 90px;
    padding-top: 15px;
}
.cards-simple-wrapper h2{
    background-color: rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    margin-left: 20px;
}

#title-index .line{
    border-top: 3px solid rgba(0, 0, 0, 0.05);
    margin-left: 30px;
    margin-right: 45px;
}
#title-index .col-provider{
    float:left;
    width: 80%;
    position: relative;
    min-height: 1px;
    padding-left: 30px;
    padding-right: 40px;
}

#title-index .col-service{
    width: 17%;
    position: relative;
    min-height: 1px;
    padding-left: 6px;
    padding-right: 15px;
    float:left;
}

.col-md-2-5{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 30px;
    width: 20%;
    float: left;
}

.col-md-2-5 .card-content{
    text-align: center;
    padding: 60px 0px 0px;
    width: auto;
}

@media (min-width: 992px) {
    .cards-simple-wrapper .col-md-2-5 {
        width: 20%;
        float: left;
    }
}

#table_responsive img {
    width: 75px;
    height: 40px;
}

.col-md-2-5 .card-simple-label img {
    width: 75px;
    height: 40px;
}

.col-md-2-5 .card-simple-label{
    background-color: transparent;
    margin-top: -50px;
}

.col-md-2-5 .card-simple:hover .card-simple-label{
    margin-top: 5px;
}

.col-md-2-5 .card-simple-actions{
    margin-top: 5px;
}

.col-md-2-5 .card-content h2{
    margin: 0px;
}

#latestnews{
    border-left: 1px solid rgba(0, 0, 0, 0.05);;
}

/*************************/
/*    Signaletique       */
/*************************/

#maincontainer #tabs_provider{
    padding-left: 0px;
    padding-right: 0px;

}
#ulinformation{
    padding-left: 0px;
    padding-bottom: 20px;
}

#ulinformation li{
    list-style: none;
}

#tabs_provider {
    padding-top:20px
}

.description{
    text-align: justify;
}

/*************************/
/*    Panel              */
/*************************/

.panel-heading h2{
    display: inline;
}

.panel-heading button {
    position:relative;
    top:-5px;
}


.logo {
    width: 75px;
    height: 40px;
}

#newslink{
    padding-bottom: 20px;
}

.event-latest{
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 10px;
}

.event-latest h2{
    padding-left: 10px;
    padding-right: 10px;
    color: #FFFFFF;
    background-color: #009f8b;
    opacity: 0.7;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: lighter;
}

.event-latest h2:hover{
    font-weight: normal ;
}







